@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #121214;
  color: #f4f2f7;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
